<launch>
<!-- UAV1 -->
    <group ns="uav1">
        <!-- MAVROS and vehicle configs -->        
        <arg name="ID" value="1"/>
        <arg name="fcu_url" default="udp://:14541@localhost:14581"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find px4)/launch/hippocampus_spawn_1.launch">
            <arg name="x" value="0"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="mavlink_udp_port" value="14561"/>
            <arg name="ID" value="$(arg ID)"/>
	<!--    <arg name="vehicle" value="$(arg vehicle)"/> -->
        </include>
        <!-- MAVROS -->
	<include file="$(find mavros)/launch/node.launch">
    	    <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
	    <arg name="config_yaml" value="$(find px4)/launch/HippoC_config.yaml" />
	    <!--<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />-->
	    <arg name="fcu_url" value="$(arg fcu_url)" />
	    <arg name="gcs_url" value="" />
	    <arg name="tgt_system" value="$(eval 1 + 1)" />
	    <arg name="tgt_component" value="1" />
	    <arg name="log_output" value="screen" />
	    <arg name="fcu_protocol" value="v2.0" />
	    <arg name="respawn_mavros" default="false" />
        </include>
        <!--<include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>-->
    </group>
</launch>
